:root {
  --extra-dark: #041d25;
  --mideam-dark: #073645;
  --lite-dark: #059cb5;
  --lite-main: #4bf0fb;

  --Transparent-white: #fefefe80;
  --Transparent-lite: #ffffff29;
}
html {
  font-size: calc(1vw);
  scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lite-dark);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--lite-main);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  user-select: none;
  outline: none;
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* font-family: 'Source Code Pro', monospace; */
}
body {
  background: var(--extra-dark);
}
#loder {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0) url("images/loder-d-.gif") no-repeat center;
  z-index: 5;
  background-size: 30%;
}
/* ===================================  header section  ====================================== */

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url("images/landing-page-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header .container {
  padding: 10px 6%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
nav .logo {
  cursor: pointer;
  font-size: 3.2rem;
  font-weight: bolder;
}
nav .logo span {
  color: var(--lite-main);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0.5rem 1rem;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  position: relative;
  transition: 0.5s;
  font-family: sans-serif;
}
nav ul li a:hover {
  color: var(--lite-main);
}
nav ul li a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -6px;
  height: 3px;
  width: 0;
  background: var(--lite-main);
  transition: 0.5s;
}
nav ul li a:hover:after {
  width: 100%;
}

.header .fa-xmark,
.header .fa-bars {
  display: none;
}

.header-content {
  margin-top: 20%;
  margin-left: 2%;
}
.header-text {
  font-size: 3.3rem;
  font-weight: bolder;
}
.header-text span {
  color: var(--lite-main);
}
.header-content .btn-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3%;
  gap: 2%;
}
.header-content .btn-container .btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 10rem;
  border: 0.2rem solid var(--lite-dark);
  padding: 7px 0;
  font-size: 1.4rem;
  background: transparent;
  color: var(--lite-dark);
  transition: 0.4s;
  position: relative;
  z-index: 1;
}
.header-content .btn-container .btn:hover {
  color: white;
}
.header-content .btn-container .btn::before {
  transition: 0.4s;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--lite-dark);
  height: 100%;
  width: 0;
  z-index: -1;
}
.header-content .btn-container .btn:hover:before {
  width: 100%;
}
.header-content .btn-container .btn:nth-child(2) {
  background: transparent;
  color: white;
}
.btn-container .btn:nth-child(2):hover {
  color: var(--lite-dark);
}
.header-content .btn-container .btn:nth-child(2):hover::before {
  width: 0%;
}
.header-content .btn-container .btn:nth-child(2)::before {
  background: var(--lite-dark);
  width: 100%;
}

/* ===================================  about as  ====================================== */
.about {
  border: 1px solid transparent;
}
.about .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 6rem 8rem 6rem 8rem;
}
.about-col-1 {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
}
.about-col-1 div {
  width: 28rem;
  height: 35.5rem;
  border: 0.2rem solid var(--lite-main);
}
.about-col-1 div img {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  width: 28rem;
  height: 35.5rem;
}
.about-col-2 {
  flex-basis: 50%;
}
.about-col-2 .intro {
  width: 100%;
  font-size: 3.2rem;
  font-weight: bolder;
}
.about-col-2 .intro span {
  color: var(--lite-main);
}
.about-link-tabs {
  height: 22rem;
}
.teb-titles {
  display: flex;
  margin: 2rem 0 2rem;
}
.teb-links {
  margin-right: 3rem;
  font-size: 2rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  font-family: sans-serif;

}
.teb-links::after {
  content: "";
  width: 0;
  height: 0.2rem;
  background: var(--lite-main);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: 0.5s;
}
.active-link {
  color: var(--lite-main);
}
.teb-links.active-link::after {
  width: 100%;
}
.tab-contents {
  font-size: 1.2rem;
  font-family: sans-serif;

}
.tab-contents ul li {
  list-style: none;
  margin: 0.7rem 0;
  font-family: sans-serif;

}
.tab-contents ul li span {
  color: var(--lite-main);
  font-size: 1.5rem;
  font-family: sans-serif;

}
.tab-contents {
  display: none;
  font-family: sans-serif;

}
.tab-contents.active-tab {
  display: block;
}

/* some coman elements in different section */

.content-sections {
  border: 1px solid transparent;
}
.sections-containers {
  margin: 4rem 2rem 7rem;
}
.section-title {
  display: flex;
  justify-content: center;
  font-size: 3.2rem;
  font-weight: bolder;
  color: var(--lite-main);
}
.diwider-line {
  width: 54rem;
  height: 0.15rem;
  background: var(--lite-main);
  margin: 0 auto;
  position: relative;
}
.diwider-line::before {
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  position: absolute;
  top: 0.1rem;
  left: -0.3rem;
  background-color: var(--lite-main);
  transform: rotateZ(45deg);
  transform-origin: top right;
}
.diwider-line::after {
  content: "";
  height: 0.7rem;
  width: 0.7rem;
  position: absolute;
  top: 0.1rem;
  right: -0.3rem;
  background-color: var(--lite-main);
  transform: rotateZ(45deg);
  transform-origin: top right;
}

.explore-button {
  margin: 1.5rem auto 1rem auto;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 900;
  padding: 0.5rem 1.6rem;
  width: fit-content;
  border: 0.2rem solid var(--lite-main);
  color: var(--lite-main);
  background: transparent;
  
}

/* --------------------end----------------------- */

/* ===================================  services  ====================================== */

.services-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 6rem 8rem 0 8rem;
}

.services-container .box {
  width: 23rem;
  background: var(--Transparent-lite);
}

.services-container .box .image {
  width: 100%;
  height: 15rem;
  background: #000000;
}
.services-container .box .image img {
  height: 100%;
  width: 100%;
}
.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services-container .box-content h2 {
  margin: 0.7rem;
  font-size: 2rem;
  text-align: center;
}
.services-container .box-content p {
  margin: 0 1.2rem;
  font-family: sans-serif;

}

/* =================================== my work ====================================== */
.work-min-boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 6rem 6rem 0 6rem;
}
.work-min-boxs a .work-min-box {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  padding: 2rem;
  border-radius: 1rem;
  background: var(--Transparent-lite);
}
.work-min-box .content {
  width: 70%;
}
.work-min-box h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.work-min-box p{
  font-family: sans-serif;
}
.work-min-box .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: var(--Transparent-lite);
}
.work-min-box i {
  font-size: 1.4rem;
}
.project-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 6rem 0;
  height: 30rem;
  border-radius: 1.5rem;
  overflow: hidden;
}
.project-view-container .displaybox {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-basis: 70%;
  background: var(--Transparent-lite);
}
.project-view-container .discription {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  flex-basis: 30%;
  background: #033a49;
  position: relative;
}
.project-view-container .discription h2 {
  font-size: 2rem;
}
.project-view-container .discription p {
  font-size: 1.5rem;
  font-family: sans-serif;

}
.project-view-container .displaybox-2 {
  order: 2;
}

/* Random Quote Generator */
.project-view-container .displaybox .quote-box {
  width: 100%;
  height: 100%;
  padding: 40px;
  text-align: center;
}
.quote-box h2 {
  font-size: 2rem;
  font-weight: normal;
  color: var(--Transparent-white);
  position: relative;
}
.quote-box h2::after {
  content: "";
  width: 6rem;
  height: 0.2rem;
  border-radius: 0.2rem;
  background: var(--Transparent-white);
  position: absolute;
  bottom: -0.7rem;
  left: 50%;
  transform: translate(-50%);
}
.quote-box blockquote {
  user-select: all;
  margin-top: 3rem;
  font-size: 2.5rem;
  height: 55%;
}
.quote-box blockquote::before,
.quote-box blockquote::after {
  content: '"';
}
.quote-box span {
  user-select: all;
  font-size: 1.5rem;
  display: block;
  float: right;
  position: relative;
}
.quote-box span::before {
  content: "";
  width: 1rem;
  height: 0.1rem;
  background: var(--lite-main);
  position: absolute;
  top: 50%;
  left: -1.5rem;
}
.quote-box div {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.quote-box button {
  background-color: var(--lite-dark);
  border-radius: 2rem;
  width: 10rem;
  height: 2.5rem;
  border: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* rock paper Scissor*/
.game-container {
  height: 100%;
  width: 100%;
  /* padding: 2rem 7rem; */
}
.result_image {
  display: flex;
  column-gap: 7rem;
  justify-content: center;
  margin: 1.5rem 0;
}
.game-container.start .user_result {
  transform-origin: left;
  animation: usershake 0.7s ease infinite;
}
@keyframes usershake {
  50% {
    transform: rotate(10deg);
  }
}
.game-container.start .cpu_result {
  transform-origin: right;
  animation: cpushake 0.7s ease infinite;
}
@keyframes cpushake {
  50% {
    transform: rotate(-10deg);
  }
}
.result_image img {
  width: 8rem;
}
.user_result img {
  transform: rotate(90deg);
}
.cpu_result img {
  transform: rotate(-90deg) rotateY(180deg);
}
.result {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-top: 2.5rem;
}
.option_image img {
  width: 5rem;
}
.game-container.start .option_images {
  pointer-events: none;
}
.option_images {
  display: flex;
  align-items: center;
  margin: 3rem auto;
  justify-content: space-between;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  width: 70%;
}
.option_images:hover {
  opacity: 1;
}

.option_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.5s ease;
}
.option_image:hover {
  opacity: 1;
}
.option_image.active {
  opacity: 1;
}
.option_image img {
  pointer-events: none;
}
.option_image p {
  color: white;
  font-size: 1.235rem;
  margin-top: 1rem;
  pointer-events: none;
}

/*rendome password genrator*/
.pass-gen-container {
  margin: 3rem 2.5rem;
  width: 100%;
}
.display {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 1.5rem;
  border-radius: 0.5rem;
}
.pass-gen-container h1 {
  font-weight: 500;
  font-size: 2.5rem;
}
.pass-gen-container h1 span {
  color: var(--lite-main);
  border-bottom: 0.3rem solid var(--lite-main);
  padding-bottom: 0.3rem;
}
.display i {
  width: 2rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--lite-dark);
}
.display input {
  border: 0;
  outline: none;
  font-size: 1.7rem;
  color: #333;
}
.pass-gen-container button {
  border: 0;
  outline: none;
  background: var(--lite-dark);
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  cursor: pointer;
}
.pass-gen-container button i {
  margin-right: 0.3rem;
}

/* =================================  contect section  ====================================== */
.contect-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  margin: 6rem 6rem 0 6rem;
}
.contect-container .contect-left {
  flex-basis: 45%;
  display: flex;
  height: 22rem;
  width: 100%;
  /* align-content: center; */
  justify-content: space-between;
  flex-direction: column;
}
.contect-left h2 {
  width: 25rem;
  font-family: sans-serif;

}
.social-icones {
  display: flex;
  align-items: center;
}
.social-icones .icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 2rem;
  background: #fff;
  margin-right: 1.5rem;
  text-align: center;
  font-size: 2.2rem;
  overflow: hidden;
  line-height: 3.6rem;
  /* box-shadow: 0.2rem .2 1rem var(--lite-dark); */
  transition: 0.3s ease-in-out;
  font-family: sans-serif;
}

.icon:hover {
  width: 15rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.icon:hover i {
  color: #fff;
}
.icon .fa-m {
  color: rgb(211, 26, 26);
}
.email:hover {
  background: rgb(211, 26, 26);
}
.icon .fa-linkedin-in {
  color: #0077b5;
}
.link:hover {
  background: #0077b5;
}
.icon .fa-github {
  color: #000;
}
.git:hover {
  background: #000;
}
.icon .fa-instagram {
  color: rgb(255, 0, 115);
}
.inst:hover {
  background: radial-gradient(
    circle at 10% 90%,
    rgb(187, 0, 255),
    rgb(255, 0, 217),
    red,
    yellow
  );
}

.contect-right {
  flex-basis: 45%;
}
.contect-right form {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}
.contect-right form input,
.contect-right form textarea {
  height: 3rem;
  background: var(--Transparent-lite);
  border-bottom: 0.2rem solid var(--lite-main);
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 1.3rem;
  padding-left: 1rem;
  color: white;
  font-family: sans-serif;

}
.contect-right form input::placeholder,
.contect-right form textarea::placeholder {
  color: rgba(255, 255, 255, 0.743);
  font-family: sans-serif;

}
.contect-right form textarea {
  height: 7rem;
  padding: 0.5rem;
}
.contect-right form button,
.get-resume {
  cursor: pointer;
  height: 3rem;
  width: 10rem;
  font-size: 1.5rem;
  background: var(--lite-dark);
  font-family: sans-serif;

}
.contect-right span {
  color: var(--lite-main);
  font-size: 1.2rem;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  background: var(--mideam-dark);
  font-size: 1.5rem;
  font-family: sans-serif;

}

/* ===================================  @media  ====================================== */
/* ===================================  @media  ====================================== */

@media only screen and (max-width: 450px) {
  html {
    font-size: calc(2vw);
  }
  ::-webkit-scrollbar {
    width: 3px;
  }

  /* ================================  header section =================================== */

  .header {
    height: 100vh;
    width: 100%;
    background-image: url("images/c0d43d331020f824ace55f3ad167d88c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav .logo {
    font-size: 4rem;
  }
  .header .fa-xmark,
  .header .fa-bars {
    font-size: 3rem;
    display: block;
  }
  #sidemenu {
    position: fixed;
    top: 0;
    right: -36rem;
    height: 100vh;
    width: 35rem;
    /* background-color: #0077b5; */
    background-color: var(--lite-dark);
    padding: 3rem;
    transition: 0.5s ease-in;
    z-index: 5;
  }
  #sidemenu i {
    margin-bottom: 5rem;
  }
  #sidemenu li {
    margin: 2rem 0;
    display: block;
  }
  #sidemenu li a {
    width: 100%;
    font-size: 4rem;
  }
  .header-content {
    margin: 70% auto;
  }
  .header-text {
    font-size: 4.3rem;
  }
  .header-content .btn-container {
    margin-top: 10%;
    gap: 5%;
  }
  .header-content .btn-container .btn {
    width: 15rem;
    font-size: 2rem;
  }

  /* ===================================  about ====================================== */
  .about .row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 6rem auto 6rem;
    gap: 7rem;
  }
  .about-col-1 div {
    margin: 0 2rem 0 0;
    width: 34rem;
    height: 44rem;
    border: 0.3rem solid var(--lite-main);
  }
  .about-col-1 div img {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    /* width: 28rem; */
    width: 34rem;
    height: 44rem;
    /* height: 35.5rem; */
  }
  .about-col-2 {
    margin: 0 2rem;
  }

  /* ===================================  services ====================================== */

  .diwider-line {
    width: 30rem;
  }

  .section-title {
    margin-top: 4rem;
    font-size: 4rem;
  }
  .services-container {
    gap: 4rem;
    margin: 5rem 2rem;
    justify-content: center;
  }

  .services-container .box {
    width: 35rem;
    background: var(--Transparent-lite);
  }

  .services-container .box .image {
    height: 25rem;
  }

  .services-container .box-content h2 {
    margin: 1.5rem;
    font-size: 2.5rem;
  }
  .services-container .box-content p {
    color: white;
    margin: 0 1.2rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .services-container .box-content button,
  .explore-button {
    margin: 2rem auto;
    font-size: 1.5rem;
    padding: 0.7rem 2rem;
  }

  /* =================================== my work ====================================== */

  .work .work-container {
    gap: 4rem;
    margin: 5rem 2rem;
  }
  .work-min-boxs {
    gap: 3rem;
    margin: 6rem 3rem 0 3rem;
    align-items: center;
  }
  .work-min-box {
    width: 100%;
    padding: 2rem;
    border-radius: 1.5rem;
  }
  .work-min-box .content {
    width: 70%;
  }
  .work-min-box h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .work-min-box p {
    font-size: 1.3rem;
  }

  .work-min-box .circle {
    height: 3.7rem;
    width: 3.7rem;
  }
  .work-min-box i {
    font-size: 2rem;
  }

  .project-view-container {
    flex-direction: column;
  }
  .project-view-container .second {
    order: -1;
  }

  .project-view-container {
    min-height: 55rem;
    margin: 3rem 3rem 0;
  }
  .project-view-container .displaybox {
    width: 100%;
  }

  .project-view-container .displaybox .quote-box {
    padding: 2rem;
  }
  .quote-box h2 {
    font-size: 1.5rem;
  }

  .quote-box blockquote {
    font-size: 2.7rem;
    overflow-y: auto;
    height: 50%;
    margin-bottom: 2rem;
  }
  .quote-box div {
    margin-top: 3rem;
  }
  .quote-box button {
    margin-top: 1rem;
    width: 11rem;
    height: 2.5rem;
    font-size: 1.2rem;
  }

  .project-view-container .discription {
    padding: 1.5rem;
  }
  .project-view-container .discription h2 {
    font-size: 2.5rem;
  }
  .project-view-container .discription p {
    margin-top: 1rem;
    font-size: 1.7rem;
    text-align: center;
  }
  .project-view-container .displaybox-2 {
    order: 0;
  }

  /* =================================  contect section  ====================================== */

  .contect-container {
    flex-direction: column;
    gap: 4rem;
    margin: 6rem 2rem 0 2rem;
  }

  .contect-container .contect-left {
    align-items: center;
  }
  .contect-left h2 {
    width: 35rem;
    font-size: 2rem;
    text-align: center;
  }
  .social-icones {
    margin-top: 3rem;
  }
  .social-icones .icon {
    width: 4rem;
    height: 4rem;
    font-size: 2.5rem;
    line-height: 4.2rem;
  }
  .icon:hover {
    width: 4rem;
    cursor: pointer;
    display: block;
  }

  .contect-right {
    width: 100%;
  }
  .contect-right form input,
  .contect-right form textarea {
    height: 3.5rem;
    font-size: 1.5rem;
  }

  .contect-left button {
    margin-top: 3rem;
  }
  #loder {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 5;
    background-size: 65%;
  }
}
